<panel dialog>
    <pbody class="asd">
        <uib-tabset class="iscs-table-tab" active="activeForm">
            <uib-tab index="0" heading="基本信息">
               <div class="div-center mrg20T dialog-progress">
                    <div class="ribbon-let active">
                        <div class="ribbon-left"></div>
                        <div class="ribbon-center">1-下单待付款</div>
                        <div class="ribbon-right"></div>
                    </div>
                    <div class="ribbon-cen active">
                        <div class="ribbon-left"></div>
                        <div class="ribbon-center">2-订单审核中</div>
                        <div class="ribbon-right"></div>
                    </div>
                    <div class="ribbon-cen">
                        <div class="ribbon-left"></div>
                        <div class="ribbon-center">3-商品拣选中</div>
                        <div class="ribbon-right"></div>
                    </div>
                    <div class="ribbon-cen">
                        <div class="ribbon-left"></div>
                        <div class="ribbon-center">4-订单包裹中</div>
                        <div class="ribbon-right"></div>
                    </div>
                    <div class="ribbon-rht active">
                        <div class="ribbon-left"></div>
                        <div class="ribbon-center">5-订单已发货</div>
                        <div class="ribbon-right"></div>
                    </div>
                </div>
                <div class="display-table mrg20T">
                    <div class="iscs-border-dotted pull-left width-160">
                        淘宝
                    </div>
                    <div class="iscs-border-dotted pull-left width-160 mrg10L">
                        淘宝海淘宝贝旗舰蛋
                    </div>
                    <div class="iscs-border-dotted pull-left width-160 mrg10L">
                        1358435487897000
                    </div>
                    <div class="width-250 pull-left min-height40 text-right ">
                        <button type="button" class="btn btn-warning">生成系统订单</button>
                        <button type="button" class="btn btn-warning" disabled="false">已生成</button>
                    </div>
                    <div class="col-md-4 mrg10T line-height28">
                        <span class="color-8c">下单时间：</span><span class="color-444">2015-05-05 80:30</span>
                    </div>
                    <div class="col-md-4 mrg10T line-height28">
                        <span class="color-8c">付款时间：</span><span class="color-444">2015-05-05 80:30</span>
                    </div>
                    <div class="col-md-4 mrg10T line-height28">
                        &nbsp;
                    </div>
                    <div class="col-md-4  line-height28">
                        <span class="color-8c">下载时间：</span><span class="color-444">2015-05-05 80:30</span>
                    </div>
                    <div class="col-md-4  line-height28">
                        <span class="color-8c">转正时间：</span><span class="color-444">2015-05-05 80:30</span>
                    </div>
                    <div class="col-md-4  line-height28">
                        &nbsp;
                    </div>
                </div>
                <div class="display-table border-top mrg10T pad10T line-height28">
                    <div class="col-md-4 ">
                        <span class="color-8c">买家昵称：</span><span class="color-444">2015-05-05 80:30</span>
                    </div>
                    <div class="col-md-4 ">
                        <span class="color-8c">手机：</span><span class="color-444">2015-05-05 80:30</span>
                    </div>
                    <div class="col-md-4 ">
                        <span class="color-8c">会员等级：</span><span class="color-444">2015-05-05 80:30</span>
                    </div>
                    <div class="col-md-12 ">
                        <span class="color-8c">会员积分：</span><span class="color-444">2015-05-05 80:30</span>
                    </div>
                    <div class="col-md-12 ">
                        <span class="color-8c pull-left">买家留言：</span>
                        <p class="color-444 pull-left mrg5T max-text-p650 ">环保部与江苏省政府组成的联合调查组抵达江苏常州，并于下午1点在常州市外家长正在检查学生的体检报告.江苏省政府组成的联合调查组抵达江苏常州，并于下午1点在常州市外家长正在检查学生的体检报</p>
                    </div>
                    <div class="col-md-12 ">
                        <span class="color-8c pull-left">卖家备注：</span>
                        <p class="color-444 pull-left mrg5T max-text-p650">2环保部与江苏省政府组成的联合调查组抵达江苏常州，并于下午1点在常州市外家长正在检查学生的体检报告</p>
                    </div>
                </div>
                <div class="display-table border-top mrg10T pad10T line-height28">
                    <div class="col-md-4 ">
                        <span class="color-8c">收货人：</span><span class="color-444">2015-05-05 80:30</span>
                    </div>
                    <div class="col-md-4 ">
                        <span class="color-8c">手机：</span><span class="color-444">2015-05-05 80:30</span>
                    </div>
                    <div class="col-md-4 ">
                        <span class="color-8c">电话：</span><span class="color-444">2015-05-05 80:30</span>
                    </div>
                    <div class="col-md-12 ">
                        <span class="color-8c pull-left">收货地址：</span>
                        <p class="color-444 pull-left mrg5T max-text-p650 ">环保部与江苏省政府组成的联合调查组抵达江苏常州，并于下午1点在常州市外家长正在检查学生的体检报告.</p>
                    </div>
                    <div class="col-md-12 mrg10T pad20A font-size-14 text-bgcolor-especially">
                        <div class="col-md-3 ">
                            <span class="color-8c">商品总金额：</span><span class="color-444">201530</span>
                        </div>
                        <div class="col-md-3 ">
                            <span class="color-8c">+运费：</span><span class="color-444">201530</span>
                        </div>
                        <div class="col-md-3 ">
                            <span class="color-8c">订单总金额：</span><span class="color-444">201530</span>
                        </div>
                        <div class="col-md-3 ">
                            <span class="color-8c">优惠及抵扣金额：</span><span class="color-444">20130</span>
                        </div>
                        <div class="col-md-3 ">
                            <span class="color-8c">应付总金额：</span><strong class="color-444 color-orange">201530</strong>
                        </div>
                        <div class="col-md-3 ">
                            <span class="color-8c">已付金额：</span><strong class="color-444 color-green">20130</strong>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="商品详情">
            <div>
                 <div class="table-commodity-list">
                    <div class=" min-height60"><img src="images/a0.jpg" width="58" height="58" /></div>
                    <div class=" min-height60 width-250 pad10L">
                        <p class="overflow-ellipsis">国家发改委介绍了2016年新型城镇化重点任务，如何推进农民工融入城镇工融入城镇</p>
                        <p class="color-8c"><span>颜色：红色</span><span class="pad10L">规格：xxxx</span></p>
                    </div>
                    <div class=" min-height60 width-180 pad15L">
                        <p>商品条码：XXX11202-05</p>
                    </div>
                    <div class=" min-height60 width-120 mrg10L">
                        <p><span class="text-line-through color-8c">原价：108.00</span></br>
                            <span>成交价：<strong class="color-orange">12333.00</strong></span>
                        </p>
                    </div>
                    <div class=" min-height60 width-120 mrg10L">
                        <p><span>数量：108.00</span></br>
                            <span>库存分配：<strong class="color-green">2202</strong></span>
                        </p>
                    </div>
                </div>
                <div class="table-commodity-list">
                    <div class=" min-height60"><img src="images/a0.jpg" width="58" height="58" /></div>
                    <div class=" min-height60 width-250 pad10L">
                        <p class="overflow-ellipsis">国家发改委介绍了2016年新型城镇化重点任务，如何推进农民工融入城镇工融入城镇</p>
                        <p class="color-8c"><span>颜色：红色</span><span class="pad10L">规格：xxxx</span></p>
                    </div>
                    <div class=" min-height60 width-180 pad15L">
                        <p>商品条码：XXX11202-05</p>
                    </div>
                    <div class=" min-height60 width-120 mrg10L">
                        <p><span class="text-line-through color-8c">原价：108.00</span></br>
                            <span>成交价：<strong class="color-orange">12333.00</strong></span>
                        </p>
                    </div>
                    <div class=" min-height60 width-120 mrg10L">
                        <p><span>数量：108.00</span></br>
                            <span>库存分配：<strong class="color-green">2202</strong></span>
                        </p>
                    </div>
                </div>
                <div class="table-commodity-list">
                    <div class=" min-height60"><img src="images/a0.jpg" width="58" height="58" /></div>
                    <div class=" min-height60 width-250 pad10L">
                        <p class="overflow-ellipsis">国家发改委介绍了2016年新型城镇化重点任务，如何推进农民工融入城镇工融入城镇</p>
                        <p class="color-8c"><span>颜色：红色</span><span class="pad10L">规格：xxxx</span></p>
                    </div>
                    <div class=" min-height60 width-180 pad15L">
                        <p>商品条码：XXX11202-05</p>
                    </div>
                    <div class=" min-height60 width-120 mrg10L">
                        <p><span class="text-line-through color-8c">原价：108.00</span></br>
                            <span>成交价：<strong class="color-orange">12333.00</strong></span>
                        </p>
                    </div>
                    <div class=" min-height60 width-120 mrg10L">
                        <p><span>数量：108.00</span></br>
                            <span>库存分配：<strong class="color-green">2202</strong></span>
                        </p>
                    </div>
                </div>
                <div class="table-commodity-list">
                    <div class=" min-height60"><img src="images/a0.jpg" width="58" height="58" /></div>
                    <div class=" min-height60 width-250 pad10L">
                        <p class="overflow-ellipsis">国家发改委介绍了2016年新型城镇化重点任务，如何推进农民工融入城镇工融入城镇</p>
                        <p class="color-8c"><span>颜色：红色</span><span class="pad10L">规格：xxxx</span></p>
                    </div>
                    <div class=" min-height60 width-180 pad15L">
                        <p>商品条码：XXX11202-05</p>
                    </div>
                    <div class=" min-height60 width-120 mrg10L">
                        <p><span class="text-line-through color-8c">原价：108.00</span></br>
                            <span>成交价：<strong class="color-orange">12333.00</strong></span>
                        </p>
                    </div>
                    <div class=" min-height60 width-120 mrg10L">
                        <p><span>数量：108.00</span></br>
                            <span>库存分配：<strong class="color-green">2202</strong></span>
                        </p>
                    </div>
                </div>
            </div>
            </uib-tab>
            <uib-tab index="2" heading="操作记录">
                <iscs-grid grid-config="gridOptions" grid-class="auto-height-modal-table" ></iscs-grid>
            </uib-tab>
        </uib-tabset>
        <div class="dialog-right-close" ng-click="event.close()"><i class="fa fa-times"></i></div>
    </pbody>
</panel>
