<div id="printItemMain">
    <p>打印项：除自定义打印项外,可自动获取</p>
</div>

<p class="printItemTitle">商品清单主体</p>

<div class="form-group mrg20L display-table mrg0B display-table">
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="orderNo"   type="checkbox" />
                          <span class="fa fa-check"></span>订单号</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="remark"   type="checkbox"   />
                               <span class="fa fa-check"></span>订单备注</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="payNo"  type="checkbox"   />
                               <span class="fa fa-check"></span>交易单号</label>
        </div>
    </div>
</div>

<div class="form-group mrg20L display-table mrg0B">
    <div class=" col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="printer"  type="checkbox"   />
                          <span class="fa fa-check"></span>打单员</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="printTime" type="checkbox"   />
                               <span class="fa fa-check"></span>打单时间</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="createTime"  type="checkbox"   />
                           <span></span>下单时间</label>
        </div>
    </div>

</div>

<div class="form-group mrg20L display-table mrg0B">

    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="payTime"  type="checkbox"   />
                               <span class="fa fa-check"></span>付款时间</label>
        </div>
    </div>

    <div class=" col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="sendTime"  type="checkbox"   />
                               <span class="fa fa-check"></span>发货时间</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="goodNum"  type="checkbox"   />
                               <span class="fa fa-check"></span>商品总数</label>
        </div>
    </div>

</div>

<div class="form-group mrg20L display-table mrg0B">

    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="weight" type="checkbox"   />
                               <span class="fa fa-check"></span>重量</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="postFee" type="checkbox"   />
                               <span class="fa fa-check"></span>运费</label>
        </div>
    </div>
    <div class=" col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="discount" type="checkbox"   />
                               <span class="fa fa-check"></span>优惠</label>
        </div>
    </div>

</div>

<div class="form-group mrg20L display-table mrg0B">

    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="fullDiscount" type="checkbox"   />
                               <span class="fa fa-check"></span>满减优惠</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="payment" type="checkbox"   />
                               <span class="fa fa-check"></span>实付金额</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="expressName" type="checkbox"   />
                               <span class="fa fa-check"></span>快递公司</label>
        </div>
    </div>
</div>

<div class="dashline"></div>
<p class="printItemTitle">收货人</p>

<div class="form-group mrg20L display-table mrg0B">
    <div class=" col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="userNick" type="checkbox"   />
                               <span class="fa fa-check"></span>买家昵称</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="userName" type="checkbox"   />
                               <span class="fa fa-check"></span>姓名</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="phoneNumber" type="checkbox"   />
                               <span class="fa fa-check"></span>固话</label>
        </div>
    </div>

</div>

<div class="form-group mrg20L display-table mrg0B">
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="mobile" type="checkbox"   />
                               <span class="fa fa-check"></span>手机号码</label>
        </div>
    </div>
    <div class=" col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="buyerMessage" type="checkbox"   />
                               <span class="fa fa-check"></span>买家留言</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="province" type="checkbox"   />
                               <span class="fa fa-check"></span>省份</label>
        </div>
    </div>

</div>

<div class="form-group mrg20L display-table mrg0B">

    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="city" type="checkbox"   />
                               <span class="fa fa-check"></span>市(州)</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="district" type="checkbox"   />
                               <span class="fa fa-check"></span>区(县)</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="postCode" type="checkbox"   />
                               <span class="fa fa-check"></span>邮编</label>
        </div>
    </div>

</div>

<div class="form-group mrg20L display-table mrg0B">
    <div class="col-md-12 pad0L">
        <div class="checkbox c-checkbox">
            <label>
                           <input id="address" type="checkbox"   />
                               <span class="fa fa-check"></span>地址</label>
        </div>
    </div>
</div>
<div class="dashline"></div>
<p class="printItemTitle" onclick="editTableDetails()" data-toggle="tooltip"  title="点击可设置打印项宽度" >商品明细</p>

<div class="form-group mrg20L display-table mrg0B">
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox ">
            <label>
                           <input id="detailSerialNo" type="checkbox" class="detail"  />
                               <span class="fa fa-check"></span>序号</label>
        </div>
    </div>
    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox ">
            <label>
                           <input ondblclick="alert('a')" id="detailPicture" type="checkbox" class="detail"  />
                            <span class="fa fa-check"></span>图片</label>
        </div>
    </div>

    <div class=" col-md-4 pad0L">
        <div class="checkbox c-checkbox ">
            <label data-toggle="tooltip" data-placement="right" title="双击可设置宽度">
                           <input id="detailSpec" type="checkbox"  class="detail"  />
                               <span class="fa fa-check"></span>规格编码</label>
        </div>
    </div>

</div>

<div class="form-group mrg20L display-table mrg0B ">
    <div class=" col-md-4 pad0L">
        <div class="checkbox c-checkbox ">
            <label>
   
                           <input id="detailCode" type="checkbox" class="detail"  />
                               <span class="fa fa-check"></span>商品编码</label>
        </div>
    </div>
    <div class=" col-md-4 pad0L ">
        <div class="checkbox c-checkbox ">
            <label>
                           <input id="detailSpecName" type="checkbox" class="detail" />
                               <span class="fa fa-check"></span>规格名称</label>
        </div>
    </div>

    <div class="col-md-4 pad0L">
        <div class="checkbox c-checkbox ">
            <label>
                           <input id="detailUnit" type="checkbox" class="detail" />
                               <span class="fa fa-check"></span>单位</label>
        </div>
    </div>

</div>
<div class="form-group mrg20L display-table mrg0B">


    <div class=" col-md-4 pad0L">
        <div class="checkbox c-checkbox ">
            <label>
                           <input id="detailSkuCode" type="checkbox" class="detail" />
                               <span class="fa fa-check"></span>宝贝编码</label>
        </div>
    </div>
    <div class=" col-md-8 pad0L">
        <div class="checkbox c-checkbox ">
            <label>
                           <input id="detailSkuName" type="checkbox" class="detail" />
                               <span class="fa fa-check"></span>宝贝名称</label>


        </div>
    </div>
</div>

<div class="dashline"></div>
<p class="printItemTitle">自定义打印项</p>
<div class="form-group mrg20L display-table mrg0B">
    <input class="btn btn-default" type="button" onclick="addCustomItem(2,'请输入需要打印的文本')" name="" value="自定义文本">
    <input class="btn btn-default" type="button" onclick="addCustomItem(9,'0123456789')" name="" value="条码">
    <input class="btn btn-default" type="button" onclick="addCustomItem(31)" name="" value="矩形">
    <input class="btn btn-default" type="button" onclick="addCustomItem(36)" name="" value="实竖线">
    <input class="btn btn-default" type="button" onclick="addCustomItem(35)" name="" value="实横线">
</div>