
<div class="callPwd-page">
<!-- header-main -->
<header class="callPwd-header">
    <div>
        <span class="callPwd-header-logo"></span>
        <span class="callPwd-header-test">找回密码</span>
        <span class="callPwd-header-log"><i></i><a ui-sref="login">登录</a></span>
    </div>
</header>
<!-- header-end -->
<div class="callPwd-main">
    <div class="callPwd-steps">
        <div class="callPwd-steps-list orange" style="left:-50px;">
            <p class="garden"><b>1</b></p>
            <p class="callPwd-steps-test">工号验证</p>
        </div>
        <div class="callPwd-steps-list orange" style="left:210px;">
            <p class="garden"><b>2</b></p>
            <p class="callPwd-steps-test">手机号码验证</p>
        </div>
        <div class="callPwd-steps-list orange" style="left:470px;">
            <p class="garden"><b>3</b></p>
            <p class="callPwd-steps-test">重置登录密码</p>
        </div>
        <div class="callPwd-steps-list orange" style="left:730px;">
            <p class="garden"><b>4</b></p>
            <p class="callPwd-steps-test">完成</p>
        </div>
    </div>
    <!-- 表单内容 -->
    <div class="callPwd-from">
        <div class="callPwd-from-account mrg100T">
            <div class="callPwd-from-succ-img">
                <img src="/images/login-images/icon_ok.png"/>
            </div>
            <div class="callPwd-from-succ-font">
                <h2>密码修改成功</h2>
                <p>请重新<a ui-sref="login">登录</a>,<span class="minu"></span></p>
            </div>
        </div>
        <div class="callPwd-from-account mrg20T">
           
        </div>
    </div>

</div>
<!-- footer -->
<footer>
    <div>
		Copyright©2010-2016 浙江网仓科技有限公司 版权所有 浙ICP备11042498-1号 
	</div>
</footer>
<script type="text/javascript">

$(function(){
    outtime();
});
</script>
</div>
