
<div class="callPwd-page">
<!-- header-main -->
<header class="callPwd-header">
    <div>
        <span class="callPwd-header-logo"></span>
        <span class="callPwd-header-test">找回密码</span>
        <span class="callPwd-header-log"><i></i><a ui-sref="login">登录</a></span>
    </div>
</header>
<!-- header-end -->
<div class="callPwd-main">
    <div class="callPwd-steps">
        <div class="callPwd-steps-list orange" style="left:-50px;">
            <p class="garden"><b>1</b></p>
            <p class="callPwd-steps-test">工号验证</p>
        </div>
        <div class="callPwd-steps-list" style="left:210px;">
            <p class="garden"><b>2</b></p>
            <p class="callPwd-steps-test">手机号码验证</p>
        </div>
        <div class="callPwd-steps-list" style="left:470px;">
            <p class="garden"><b>3</b></p>
            <p class="callPwd-steps-test">重置登录密码</p>
        </div>
        <div class="callPwd-steps-list" style="left:730px;">
            <p class="garden"><b>4</b></p>
            <p class="callPwd-steps-test">完成</p>
        </div>
    </div>
    <!-- 表单内容 -->
    <div class="callPwd-from">
        <div class="callPwd-from-test mrg50T">
            忘记工号？请联系系统管理员。
        </div>
        <div class="callPwd-from-account mrg50T">
            <div class="callPwd-from-font">工号：</div>
            <div class="callPwd-from-input"><input type="text" name="uid" class="" placeholder="请输入工号" /></div>
            <div class="callPwd-from-tip">
                <div class="callPwd-from-tip-remind">
                    
                </div>
                <div class="callPwd-from-tip-error">
                    <i></i>
                    <span>工号错误，请输入正确工号。</span>
                </div>
            </div>
        </div>
        <div class="callPwd-from-account mrg20T">
            <div class="callPwd-from-font"></div>
            <div class="callPwd-from-tip">
                <!--验证模块-->
                <div id="drag"></div>
            </div>
        </div>
        <div class="callPwd-from-account mrg20T">
            <div class="callPwd-from-font"></div>
            <div class="callPwd-from-tip">
            <button class="btn-submit" ng-click="event.btnSubmit()">下一步</button>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<footer>
    <div>
		Copyright©2010-2016 浙江网仓科技有限公司 版权所有 浙ICP备11042498-1号 
	</div>
</footer>
<script type="text/javascript">
$(function(){
    
});
</script>
</div>