<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>网仓3号-系统登录</title>
  <!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- bootstrap/jquery/adminLTE  -->
<link rel="stylesheet" href="styles/bootstrap.css" />
<link rel="stylesheet" href="styles/app.css" />
</head>
<body class="hold-transition login-page-qrcode">
<!-- header-main -->
<header class="login-page-qrcode-header">
    <div>
        <span class="login-page-qrcode-log"><i></i><a href="login">登录</a></span>
    </div>
</header>
<!-- header-end -->
<div class="login-qrcode-main">
    <div class="qrcode-page-cen">
        <div class="qrcode-page-imgf"><img src="/images/qrcode_img.jpg" width="116" height="116" /></div>
        <div class="qrcode-page-img"><img src="/images/qrcode_img.jpg" width="116" height="116" /></div>
    </div>
</div>
<footer>
    <div>
		Copyright©2010-2016 浙江网仓科技有限公司 版权所有 浙ICP备11042498-1号 
	</div>
</footer>

</body>
</html>